<div id="<%= dom_id garage %>">
  <p>
    <strong>Nom:</strong>
    <%= garage.nom %>
  </p>

  <p>
    <strong>Adresse:</strong>
    <%= garage.adresse %>
  </p>

  <p>
    <strong>Capacite:</strong>
    <%= garage.capacite %>
  </p>

</div>
