<% content_for :title, "Editing proprietaire" %>

<h1>Editing proprietaire</h1>

<%= render "form", proprietaire: @proprietaire %>

<br>

<div>
  <%= link_to "Show this proprietaire", @proprietaire %> |
  <%= link_to "Back to proprietaires", proprietaires_path %>
</div>
