<% content_for :title, "New proprietaire" %>

<h1>New proprietaire</h1>

<%= render "form", proprietaire: @proprietaire %>

<br>

<div>
  <%= link_to "Back to proprietaires", proprietaires_path %>
</div>
