<div id="<%= dom_id employe %>">
  <p>
    <strong>Nom:</strong>
    <%= employe.nom %>
  </p>

  <p>
    <strong>Specialite:</strong>
    <%= employe.specialite %>
  </p>

  <p>
    <strong>Garage:</strong>
    <%= employe.garage_id %>
  </p>

</div>
