<% content_for :title, "Editing employe" %>

<h1>Editing employe</h1>

<%= render "form", employe: @employe %>

<br>

<div>
  <%= link_to "Show this employe", @employe %> |
  <%= link_to "Back to employes", employes_path %>
</div>
